<app-nav></app-nav>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-2 col-md-4 col-8 border-0 rounded-lg pb-1">
      <div class="card bg shadow-lg border-0 rounded-lg">
        <div class="card-body">
          <div id="perfil">
            <img
              src="/assets/img/Perfil.png"
              class="img-circle"
              alt="Cinque Terre"
            />
          </div>

          <div class="form-floating mt-3">
            <button type="button" class="btn btn-primary">Subir imagen</button>
          </div>
        </div>
      </div>
      <br />
      <div>
        <button
          type="submit"
          class="btn btn-primary col-12"
          (click)="modificar()"
        >
          Guardar
        </button>
      </div>
      <br />
      <div>
        <button
          (click)="eliminar()"
          type="button"
          class="btn btn-danger col-12"
        >
          Eliminar
        </button>
      </div>
      <br />
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Detalle'"></app-card-header>
        <div class="card-body">
          <div class="form-floating mb-3">
            <input
              [(ngModel)]="usuario.nombre_u"
              class="form-control"
              id="inputNombre"
              type="text"
              name="nombre_usuario"
            />
            <label for="inputNombre">Nombre</label>
          </div>

          <div class="form-floating mb-3">
            <input
              [(ngModel)]="usuario.email_u"
              class="form-control"
              id="inputNombre"
              type="text"
              name="email_usuario"
            />
            <label for="inputEmail">Email</label>
          </div>

          <div class="form-floating mb-3">
            <input
              [(ngModel)]="usuario.password_u"
              class="form-control"
              id="inputNombre"
              type="text"
              name="password_usuario"
            />
            <label for="inputPassword">Password</label>
          </div>

            <h6 class="text-center">Cargo</h6>
            <select class="form-select mb-3"
            [(ngModel)]="usuario.id_c"
            >
            <option *ngFor="let cargo of ListarCargo" [value]="cargo.id_c">{{cargo.nombre_c}}</option>
          </select>

          <h6 class="text-center">Empresa</h6>
          <select class="form-select mb-3"
          [(ngModel)]="usuario.id_e"
          >
            <option *ngFor="let empresa of ListarEmpresa" [value]="empresa.id_e" >{{empresa.nombre_e}}</option>
          </select>

          <h6>{{vistaUsuario.nombre_u}}</h6>



        </div>
      </div>
    </div>
  </div>
</div>
