<app-nav-tarea></app-nav-tarea>
<div class="container-fluid col-lg-6">
  <div class="col-12 my-1">
    <div class="card text-white bg shadow-lg border-0 rounded-lg">
      <app-card-header [titulo]="'Tareas finalizadas'"></app-card-header>
      <br />
      <div class="row justify-content-between px-3">
        <div class="col-8 text-start">
          <form class="form text-start mb-1">
            <button>
              <img src="../assets/img/search.svg" alt="" />
            </button>
            <input
              class="input"
              placeholder="Buscar..."
              required=""
              type="text"
              name="filtroTarea"
              [(ngModel)]="filtroTarea"
            />
          </form>
        </div>

        <div class="col text-end">
          <button class="btn btn-nav a">
            <i><img src="../assets/img/printer.svg" alt="" /></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <app-bar-tarea
          *ngFor="let tarea of ListarTarea | filtroTarea: filtroTarea"
          [funciones]="2"
          [titulo]="tarea.nombre_t"
          [id]="tarea.id_t"
        ></app-bar-tarea>
      </div>
    </div>
  </div>
</div>
