<div class="container-fluid">
    <div class="row justify-content-center">
        
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center text-dark font-weight-light my-1">Crear unidad interna</h3>
                </div>
                <div class="card-body">
                    
                    <form [formGroup]="Rol_Grupo" (ngSubmit)="crear_rol()">

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" formControlName="nombre"
                            placeholder="name@example.com" 
                            [class.is-invalid]="Rol_Grupo.get('nombre')?.touched && Rol_Grupo.get('nombre')?.invalid"/>
                            <label for="inputEmail">Nombre</label>
                        </div>

                        <div class="form-group">
                            <label for="cosa">Asignar rol a la unidad interna</label>
                            <select multiple class="form-control" id="cosa">
                                <option>Nombre de la unidad interna</option>
                                <option>Nombre de la unidad interna</option>
                                <option>Nombre de la unidad interna</option>
                                <option>Nombre de la unidad interna</option>
                                <option>Nombre de la unidad interna</option>
                                <option>Nombre de la unidad interna</option>
                                <option>Nombre de la unidad interna</option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary col-12 p-3" [disabled]="Rol_Grupo.invalid">Crear Rol</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 border-0 rounded-lg">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header">
                    <h3 class="text-center text-dark font-weight-light my-1">Listar roles</h3>
                </div>
                
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">unidad interna</th>
                            <th scope="col">accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">#001</th>
                            <td>unidad 1</td>
                            <td></td>
    
                        </tr>
                        <tr>
                            <th scope="row">#002</th>
                            <td>unidad 2</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>