<app-nav-rol></app-nav-rol>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 border-0 rounded-lg">
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Lista de roles'"></app-card-header>

        <div class="card-body">
          <div class="col-12 text-start">
            <form class="form text-start mb-1">
              <button>
                <img src="../assets/img/search.svg" alt="" />
              </button>
              <input
                class="input"
                placeholder="Buscar..."
                required=""
                type="text"
                name="filtroTarea"
                [(ngModel)]="filtroRol"
              />
            </form>
            <br />
          </div>
          <div class="row">
            <app-bar-lista-roles
              *ngFor="let rol of ListarRol | filtroRol: filtroRol"
              [nombre]="rol.nombre"
              [id]="rol.id_rol"
              class="col"
            ></app-bar-lista-roles>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
