<div class="container-fluid col-lg-4 mt-5">
  <div class="col-12 my-1">
    <div class="card text-white bg shadow-lg border-0 rounded-lg">
      <app-card-header [titulo]="'Notificaciones'"></app-card-header>
      <div class="card-body">
          <h5 class="text-center">Nombre de la notificacion</h5>
          <dir class="col-12 caja">
            <h6>{{notificacion.asunto_n}}</h6>
          </dir>
          <h5 class="text-center">Descripcion de la notificacion</h5>
          <dir class="col-12 caja">
            <h6>{{notificacion.descripcion_n}}</h6>
          </dir>
      </div>
    </div>
</div>
</div>
