<app-nav-flujo-de-tareas></app-nav-flujo-de-tareas>
<div class="container-fluid col-lg-6">
  <div class="col-12 my-1">
    <div class="card text-white bg shadow-lg border-0 rounded-lg">
      <app-card-header [titulo]="'Flujo de tareas'"></app-card-header>
      <br />
      <div class="row justify-content-between px-3">
        <div class="text-start">
          <form class="form text-start mb-1">
            <button>
              <img src="../assets/img/search.svg" alt="" />
            </button>
            <input
              class="input"
              placeholder="Buscar..."
              required=""
              type="text"
              name="filtroTarea"
              [(ngModel)]="filtroFlujo"
            />
          </form>
        </div>
      </div>
      <div class="card-body">
        <app-bar-flujo
          *ngFor="let flujo of ListarFlujo | filtroFlujo: filtroFlujo"
          [titulo]="flujo.nombre_flujo"
          [id]="flujo.id_flujo"
        ></app-bar-flujo>
      </div>
    </div>
  </div>
</div>
