<app-nav-flujo-de-tareas></app-nav-flujo-de-tareas>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Crear flujo de tareas'"></app-card-header>
        <div class="card-body">
          <form
            [formGroup]="Crear_Flujo_de_tareas_Grupo"
            (ngSubmit)="crear_flujo_de_tareas()"
          >
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="inputNombre"
                type="text"
                formControlName="nombre"
                placeholder="name@example.com"
                [class.is-invalid]="
                  Crear_Flujo_de_tareas_Grupo.get('nombre')?.touched &&
                  Crear_Flujo_de_tareas_Grupo.get('nombre')?.invalid
                "
              />
              <label for="inputEmail">Nombre</label>
            </div>

            <div class="form-group">
              <label for="inputEmail">Descripción</label>
              <textarea
                class="form-control"
                id="inputEmail"
                rows="3"
                formControlName="descripcion"
              ></textarea>
            </div>
          </form>
        </div>
        <app-card-body [titulo]="'Tarea subordinada'"></app-card-body>

        <div class="card-body">
          <br />
          <div class="row">
            <app-buscador class="col-8"></app-buscador>
            <button class="btn btn-primary col">Crear</button>
          </div>
          <br />
          <app-bar-subtarea></app-bar-subtarea>
        </div>
      </div>
    </div>

    <div class="col-lg-1 border-0 rounded-lg">
      <div class="form-floating">
        <form
          [formGroup]="Crear_Flujo_de_tareas_Grupo"
          (ngSubmit)="crear_flujo_de_tareas()"
        >
          <button
            type="submit"
            class="btn btn-primary col-12 p-3"
            [disabled]="Crear_Flujo_de_tareas_Grupo.invalid"
          >
            Crear
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid col-lg-6">
  <div class="col-12 my-1">
    <div class="card text-white bg shadow-lg border-0 rounded-lg">
      <app-card-header [titulo]="'Tareas'"></app-card-header>
      <br />
      <div class="row justify-content-between px-3">
        <div class="col-8 text-start">
          <app-buscador></app-buscador>
        </div>

        <div class="col text-end">
          <button class="btn btn-nav a">
            <i><img src="../assets/img/printer.svg" alt="" /></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <app-bar-tarea></app-bar-tarea>
        <app-bar-tarea></app-bar-tarea>
        <app-bar-tarea></app-bar-tarea>
        <app-bar-tarea></app-bar-tarea>
        <app-bar-tarea></app-bar-tarea>
        <app-bar-tarea></app-bar-tarea>
        <app-bar-tarea></app-bar-tarea>
      </div>
    </div>
  </div>
</div>
