<app-nav-tarea></app-nav-tarea>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-12 mt-1">
                    <a class="text-start btn btn-primary col-12" href="/home">Flujo de tareas</a>
                </div>
                <div class="col-12 mt-1">
                    <a class="text-start btn btn-primary col-12" href="/home">Flujo de tareas</a>
                </div>
                <div class="col-12 mt-1">
                    <a class="text-start btn btn-primary col-12" href="/home">Flujo de tareas</a>
                </div>
                <div class="col-12 mt-1">
                    <a class="text-start btn btn-primary col-12" href="/home">Flujo de tareas</a>
                </div>
            </div>
        </div>
    </div>
</div>