<div class="bar-tarea my-1">
  <div type="button" class="btn" routerLink="/tarea">
    <h6 class="text-start">Titulo</h6>
    <div class="col text-end">
      <h6>10</h6>
      <img src="../assets/img/usuario.svg" alt="" />
      <h6>10</h6>
      <img src="../assets/img/files.svg" alt="" />
      <circle-progress
        class="barra-circular"
        [percent]="70"
        [radius]="16"
        [titleFontSize]="'12'"
        [unitsFontSize]="'12'"
        [outerStrokeWidth]="3"
        [innerStrokeWidth]="-3"
        [space]="-3"
      >
      </circle-progress>
    </div>
  </div>
  <span class="borde"></span>
</div>
