<br />
<div class="container-fluid col-lg-6">
  <div class="col-12 my-1">
    <div class="card text-white bg shadow-lg border-0 rounded-lg">
      <app-card-header
        [titulo]="'Lista de unidades internas'"
      ></app-card-header>
      <br />
      <div class="row justify-content-between px-3">
        <div class="col-8 text-start">
          <app-buscador></app-buscador>
        </div>

        <div class="col text-end">
          <button class="btn btn-nav a" routerLink="/crear_unidad_interna/">
            <i><img src="../assets/img/agregar.svg" alt="" /></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">unidad interna</th>
              <th scope="col">accion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">#001</th>
              <td>unidad 1</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">#002</th>
              <td>unidad 2</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
