<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 mt-5 border-0 rounded-lg d-flex justify-content-end">
            <a class="btn btn-primary col-2 " href="./crear_unidad_interna/">Crear unidad interna</a>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 border-0 rounded-lg">
            
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">unidad interna</th>
                        <th scope="col">accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">#001</th>
                        <td>unidad 1</td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row">#002</th>
                        <td>unidad 2</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>