.card-header {
  position: relative;
}

.borde {
  position: absolute;
  width: 10px;
  left: 0px;
  top: 0%;
  bottom: 0%;

  background: #40ed9a;
  border-radius: 8px 0px 0px 0px;
}
.linea {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0%;

  border-bottom: 1px solid #40ed9a;
}

/* Formulario */
.form-floating {
  overflow: hidden;
  text-align: center;
}
.form-control {
  background-color: transparent;
  border-color: #febd01;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid #febd01;
  border-radius: 0%;
  color: #ffffff;
}
.form-group {
  text-align: center;
}
.form-control {
  background-color: transparent;
  border-color: #febd01;
  color: #ffffff;
  box-shadow: none;
}
