<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 my-5">
      <h1 class="text-center color2 my-5">Process S.A.</h1>
    </div>
    <div class="col-xs-12 col-sm-11 col-md-7 col-lf-4 col-xl-4 col-xxl-5">
      <div class="card bg text-white shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Iniciar sesión'"></app-card-header>
        <div class="card-body">
          <div class="form-floating mb-3">
            <input
              [(ngModel)]="user.email_u"
              class="form-control"
              for="exampleFormControlInput1"
              type="text"
              placeholder="inputNombre"
            />
            <label for="inputNombre">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input
              [(ngModel)]="user.password_u"
              class="form-control"
              type="password"
              for="exampleFormControlInput1"
              placeholder="inputPassword"
            />
            <label for="inputPassword">Contraseña</label>
          </div>

          <button
            type="submit"
            class="btn btn-primary col-12 p-3"
            (click)="iniciar_sesion()"
          >
            Iniciar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
