<app-nav></app-nav>
<div class="container-fluid col-lg-6">
  <div class="col-12 my-1">
    <div class="card text-white bg shadow-lg border-0 rounded-lg">
      <app-card-header [titulo]="'Lista de usuarios'"></app-card-header>
      <br />
      <div class="row justify-content-between px-3">
        <div class="col-12 text-start">
          <app-buscador></app-buscador>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">RUT</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>
                  <div class="col text-end">
                    <button class="btn btn-nav a">
                      <i
                        ><img
                          alt=""
                          src="../assets/img/edit.svg"
                          routerLink="/usuario"
                      /></i>
                    </button>
                    <button class="btn btn-nav a">
                      <i><img alt="" src="../assets/img/x.svg" /></i>
                    </button>
                  </div>
                  <!--
                    <button
                      >(click)="eliminar(rol.id_rol)"
                      type="button"
                      class="btn btn-danger"
                    >
                      Eliminar
                    </button>
                    <button
                      (click)="modificar(rol.id_rol)"
                      type="button"
                      class="btn btn-success"
                    >
                      Modificar
                    </button>

                  -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
