<app-nav></app-nav>
<div class="container-fluid col-lg-6">
  <div class="col-12 my-1">
    <div class="card text-white bg shadow-lg border-0 rounded-lg">
      <app-card-header [titulo]="'Lista de usuarios'"></app-card-header>
      <br />
      <div class="row justify-content-between px-3">
        <div class="col-12 text-start">
          <form class="form text-start mb-1">
            <button>
              <img src="../assets/img/search.svg" alt="" />
            </button>
            <input
              class="input"
              placeholder="Buscar..."
              required=""
              type="text"
              name="filtroTarea"
              [(ngModel)]="filtroUsuario"
            />
          </form>
        </div>

        <div class="card-body">
          <app-bar-usuario
            *ngFor="let usuario of ListarUsuario | filtroUsuario: filtroUsuario"
            [nombre]="usuario.nombre_usuario"
            [id]="usuario.id_usuario"
          ></app-bar-usuario>
        </div>
      </div>
    </div>
  </div>
</div>
