<ul class="nav justify-content-center"> 
    <li class="nav-item">
        <a class="nav-link active" routerLink="/usuarios">Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/crear_usuario">Crear usuario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="/roles">Roles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="/tareas">Tarea</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="/crear_tarea">Crear tarea</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="/unidades_internas">Unidades internas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/crear_unidad_interna">Crear unidades internas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="/flujo_de_tareas">Fluejos de tareas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/crear_flujo_de_tareas">Crear fluejos de tareas</a>
    </li>
</ul>