<div class="my-3 container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/usuarios"
            >Usuarios</a
          >
        </li>
        <li *ngIf="permisosAdministrador()" class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/crear_usuario"
            >Crear usuario</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
