<app-nav></app-nav>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-2 col-md-4 col-8 border-0 rounded-lg pb-1">
      <div class="card bg shadow-lg border-0 rounded-lg">
        <div class="card-body">
          <div id="perfil">
            <img
              src="/assets/img/Perfil.png"
              class="img-circle"
              alt="Cinque Terre"
            />
          </div>

          <div class="form-floating mt-3">
            <button type="button" class="btn btn-primary btn-lg">
              Subir imagen
            </button>
          </div>
        </div>
      </div>
      <br />
      <button
        type="submit"
        class="btn btn-primary col-12 p-3"
        (click)="crear_usuario()"
        [disabled]="Crear_Usuario_Grupo.invalid"
      >
        Crear usuario
      </button>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Usuario'"></app-card-header>
        <div class="card-body">
          <form [formGroup]="Crear_Usuario_Grupo" (ngSubmit)="crear_usuario()">
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="text"
                placeholder="nombre_usuario"
                formControlName="nombre_usuario"
                [class.is-invalid]="
                  Crear_Usuario_Grupo.get('nombre_usuario')?.touched &&
                  Crear_Usuario_Grupo.get('nombre_usuario')?.invalid
                "
              />
              <label for="inputNombre">Nombre</label>
            </div>

            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="text"
                placeholder="email_usuario"
                formControlName="email_usuario"
                [class.is-invalid]="
                  Crear_Usuario_Grupo.get('email_usuario')?.touched &&
                  Crear_Usuario_Grupo.get('email_usuario')?.invalid
                "
              />
              <label for="inputApellido">Email</label>
            </div>

            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="password"
                placeholder="password_usuario"
                formControlName="password_usuario"
                [class.is-invalid]="
                  Crear_Usuario_Grupo.get('password_usuario')?.touched &&
                  Crear_Usuario_Grupo.get('password_usuario')?.invalid
                "
              />
              <label for="inputRut">Password</label>
            </div>

            <select class="form-select"               
            placeholder="cargo_usuario"
            formControlName="cargo_usuario"
            [class.is-invalid]="
            Crear_Usuario_Grupo.get('cargo_usuario')?.touched &&
            Crear_Usuario_Grupo.get('cargo_usuario')?.invalid">
              <option *ngFor="let cargo of ListarCargo" [value]="cargo.id_c">{{cargo.nombre_c}}</option>
            </select>

            <select class="form-select"               
            placeholder="empresa_usuario"
            formControlName="empresa_usuario"
            [class.is-invalid]="
            Crear_Usuario_Grupo.get('empresa_usuario')?.touched &&
            Crear_Usuario_Grupo.get('empresa_usuario')?.invalid">
              <option *ngFor="let empresa of ListarEmpresa" [value]="empresa.id_e" >{{empresa.nombre_e}}</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
