<app-nav-cargo></app-nav-cargo>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-11 col-md-7 col-lf-4 col-xl-4 col-xxl-5">
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Vista cargo'"></app-card-header>
        <div class="card-body text-center">
          <div class="form-floating mb-3">
            <input
              [(ngModel)]="cargo.nombre_c"
              class="form-control"
              id="inputNombre"
              type="text"
              name="nombre_c"
            />
          </div>

          <h6 class="text-center">Rol</h6>
          <select class="form-select mb-3"
          [(ngModel)]="cargo.id_r"
          >
          <option *ngFor="let rol of ListarRol" [value]="cargo.id_r">{{rol.nombre_r}}</option>
        </select>

        <h6 class="text-center">Unidad interna</h6>
        <select class="form-select mb-3"
        [(ngModel)]="cargo.id_ui"
        >
          <option *ngFor="let unidad of ListarUnidad" [value]="cargo.id_ui" >{{unidad.nombre_ui}}</option>
        </select>
        
        <h6 class="text-center">Supervisor</h6>
        <select class="form-select mb-3"
        [(ngModel)]="cargo.supervisor_c"
        >
        <option *ngFor="let cargo of ListarCargo" [value]="cargo.supervisor_c" >{{cargo.nombre_c}}</option>
        </select>
        </div>
      </div>
      <br />
    </div>
    <div class="col-xs-12 col-sm-11 col-md-3 col-lf-2 col-xl-2 col-xxl-1">
      <div class="container col-lg-12 col-6">
        <div class="row text-center">
          <button (click)="modificar()" type="button" class="btn btn-primary">
            Guardar
          </button>
        </div>
        <br />
        <div class="row text-center">
          <button (click)="eliminar()" type="button" class="btn btn-danger">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
