* {
  margin: 0%;
  padding: 0%;
  align-items: center;
  border-radius: 8px !important;
}
.bar-tarea {
  position: relative;
  margin: 0;
  padding: 0;
}
.btn {
  text-align: center;
  display: flex;
  align-items: center;
  height: 48px;
  margin-left: 10px;
  padding: 0;
  background-color: #252936;
  color: #ffffff;
  border-radius: 0%;
}
.btn:hover {
  background-color: #151821;
  border: transparent;
}
.text-start {
  margin-left: 10px;
}
.text-end {
  margin-right: 10px;
}
