<br />
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-11 col-md-7 col-lf-4 col-xl-4 col-xxl-5">
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="unidad.nombre_unidad_i"></app-card-header>
        <div class="card-body">
          <div class="form-floating mb-3">
            <input
              [(ngModel)]="unidad.nombre_unidad_i"
              class="form-control"
              id="inputNombre"
              type="text"
              name="nombre_rol"
            />
          </div>
          <app-card-body [titulo]="'Asignar roles'"></app-card-body>

          <div class="card-body">
            <br />
            <div class="row">
              <app-buscador class="col-8"></app-buscador>
              <div class="col text-end">
                <!--Asignar ruta-->
                <button class="btn btn-nav a" routerLink="">
                  <i><img src="../assets/img/agregar.svg" alt="" /></i>
                </button>
              </div>
            </div>
          </div>
          <app-bar-rol></app-bar-rol>
        </div>
      </div>
      <br />
    </div>

    <div class="col-xs-12 col-sm-11 col-md-3 col-lf-2 col-xl-2 col-xxl-1">
      <div class="container col-lg-12 col-6">
        <div class="row text-center">
          <button (click)="modificar()" type="button" class="btn btn-primary">
            Guardar
          </button>
        </div>
        <br />
        <div class="row text-center">
          <button (click)="eliminar()" type="button" class="btn btn-danger">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
