<app-nav-tarea></app-nav-tarea>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-11 col-md-7 col-lf-4 col-xl-4 col-xxl-5">
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Nombre'"></app-card-header>
        <div class="card-body text-center">
          <div class="form-floating mb-3">
            <input
              [(ngModel)]="tareasub.nombre_ts"
              class="form-control"
              id="inputNombre"
              type="text"
              name="nombre_tarea"
            />
          </div>
          <h5 class="color5">Estado</h5>
          <h6>{{tareasub.estado_ts}}</h6>
        </div>
      </div>
      <br />
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header
          [titulo]="'Descripción de la tarea subordinada'"
        ></app-card-header>
        <div class="card-body">
          <textarea
            [(ngModel)]="tareasub.descripcion_ts"
            class="form-control"
            id="inputDescripcion"
            rows="3"
            name="descripcion"
          ></textarea>
        </div>
      </div>

      <br />
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Fecha de termino'"></app-card-header>
        <div class="card-body">
          <div class="row text-between">
            <div class="col">
              <h6 class="col text-center">Fecha de inicio</h6>
              <br>
              <h6 class="col text-center fecha_inicio">{{tareasub.fecha_entrega_ts | date}}</h6>
            </div>
            <div class="col text-end">
              <h6 class="col text-center">Fecha de inicio</h6>
              <div class="form-floating mb-3">
                <input
                  type="date"
                  [ngModel]="tareasub.fecha_entrega_ts | date:'yyyy-MM-dd'"
                  (ngModelChange)="tareasub.fecha_entrega_ts = $event"
                  type="date"
                  class="form-control"
                  id="inputNombre"
                  name="fecha_termino"
                />
              </div>
            </div>
          </div>
          <!-- <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuenow="20"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 75%"
            ></div>
          </div> -->
        </div>
      </div>
      <br />

      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Responsables'"></app-card-header>
        <div class="row justify-content-between px-3">

          <div class="col text-center">
            <!-- Button trigger modal -->
            <button
              *ngIf="mostrar_add_responsable"
              class="btn btn-nav mt-3 "
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i><img src="../assets/img/agregar.svg" alt="" /></i>
            </button>
            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header text-white bg">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Agregar usuario
                    </h5>
                    <button
                      type="button"
                      class="btn-close btn-close-white"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body text-white bg">
                    <form class="form text-start mb-1">
                      <button>
                        <img src="../assets/img/search.svg" alt="" />
                      </button>
                      <input
                        class="input"
                        placeholder="Buscar usuario"
                        required=""
                        type="text"
                        name="filtroTarea"
                        [(ngModel)]="filtroUsuario"
                      />
                    </form>
                    <div class="card-body">
                      <app-bar-usuario
                        *ngFor="
                          let usuario of ListarUsuario
                            | filtroUsuario: filtroUsuario
                        "
                        [funciones]="4"
                        [nombre]="usuario.nombre_u"
                        [id]="usuario.id_u"
                      ></app-bar-usuario>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">
            <app-bar-responsable
              *ngFor="let usuario of ListarAsigTareaSub | filtroUsuario: filtroUsuario"
              [funciones]="2"
              [nombre]="usuario.nombre_u"
              [id]="usuario.id_ts"
            ></app-bar-responsable>            
          </div>
        </div>
      </div>
      <br />
    </div>
    <div class="col-xs-12 col-sm-11 col-md-3 col-lf-2 col-xl-2 col-xxl-1">
      <div class="container col-lg-12 col-6">
        <div class="row text-center">
          <button type="button" class="btn btn-primary">Terminar</button>
        </div>
        <br />
        <div class="row text-center">
          <button type="button" class="btn btn-primary" (click)="listar()">alertar</button>
        </div>
        <br />
        <div class="row text-center">
          <button type="button" class="btn btn-primary">Reportar</button>
        </div>

        <br />
        <div class="row text-center">
          <button
            (click)="modificar()"
            (click)="irAtras()"
            type="button"
            class="btn btn-primary"
          >
            Guardar
          </button>
        </div>
        <br />
        <div class="row text-center">
          <button type="button" class="btn btn-danger" (click)="eliminar()">Eliminar</button>
        </div>
      </div>
    </div>
  <br />

