<app-nav-tarea></app-nav-tarea>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-11 col-md-7 col-lf-4 col-xl-4 col-xxl-5">
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header
          [titulo]="'Nombre de la tarea subordinada'"
        ></app-card-header>
        <div class="card-body text-center">
          <h5 class="color5">Estado</h5>
          <h6>En curso</h6>
        </div>
      </div>
      <br />
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Fecha de termino'"></app-card-header>
        <div class="card-body">
          <div class="row text-between">
            <div class="col">
              <h6>Inicio:</h6>
              <h6>00:00:00</h6>
            </div>
            <div class="col text-end">
              <h6>Finaliza en:</h6>
              <h6>00:00:00</h6>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuenow="20"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 75%"
            ></div>
          </div>
        </div>
      </div>
      <br />
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header
          [titulo]="'Descripción de la tarea subordinada'"
        ></app-card-header>
        <div class="card-body">
          <h6>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque
            dolore magni possimus culpa ab odio aut cumque consequuntur vel
            labore impedit distinctio natus, dolor autem perferendis quo?
            Deleniti, accusamus ab.
          </h6>
        </div>
      </div>
      <br />

      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Responsables'"></app-card-header>
        <br />
        <div class="row justify-content-between px-3">
          <div class="col-8 text-start">
            <app-buscador></app-buscador>
          </div>
          <div class="col text-end">
            <button class="btn btn-nav a" routerLink="/crear_unidad_interna/">
              <i><img src="../assets/img/agregar.svg" alt="" /></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <app-bar-usuario></app-bar-usuario>
          <app-bar-usuario></app-bar-usuario>
          <app-bar-usuario></app-bar-usuario>
        </div>
      </div>
      <br />
    </div>
    <div class="col-xs-12 col-sm-11 col-md-3 col-lf-2 col-xl-2 col-xxl-1">
      <div class="container col-lg-12 col-6">
        <div class="row text-center">
          <button type="button" class="btn btn-primary">Terminar</button>
        </div>
        <br />
        <div class="row text-center">
          <button type="button" class="btn btn-primary">alertar</button>
        </div>
        <br />
        <div class="row text-center">
          <button type="button" class="btn btn-primary">Reportar</button>
        </div>
        <br />
        <div class="row text-center">
          <button type="button" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
