<app-nav-tarea></app-nav-tarea>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-11 col-md-7 col-lf-4 col-xl-4 col-xxl-5">
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Nombre'"></app-card-header>
        <div class="card-body text-center">
          <div class="form-floating mb-3">
            <input
              [(ngModel)]="tarea.nombre_t"
              class="form-control"
              id="inputNombre"
              type="text"
              name="nombre_tarea"
            />
          </div>
        </div>
      </div>
      <br/>
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Estado'"></app-card-header>
        <div class="card-body text-center">
          <div class="form-floating mb-3">
            <input
              [(ngModel)]="tarea.estado_t"
              class="form-control"
              id="inputNombre"
              type="text"
              name="nombre_tarea"
            />
          </div>
        </div>
      </div>
      <br />
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Fechas'"></app-card-header>
        <div class="card-body">
          <div class="row text-between">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  [ngModel]="tarea.fecha_inicio_t | date:'yyyy-MM-dd'"
                  (ngModelChange)="tarea.fecha_inicio_t = $event"
                  type="date"
                  class="form-control"
                  id="inputNombre"
                  name="fecha_inicio"
                />
                <label for="inputNombre">Fecha Inicio:</label>
              </div>
            </div>
            <!--
              <h6>{{tarea.fecha_entrega_t | date}}</h6>
            -->
            <div class="col text-end">
              <div class="form-floating mb-3">
                <input
                  [ngModel]="tarea.fecha_entrega_t | date:'yyyy-MM-dd'"
                  (ngModelChange)="tarea.fecha_entrega_t = $event"
                  type="date"
                  class="form-control"
                  id="inputNombre"
                  name="fecha_termino"
                />
                <label for="inputNombre">Fecha termino:</label>
              </div>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuenow="20"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 75%"
            ></div>
          </div>
        </div>
      </div>
      <br />
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Descripción de la tarea'"></app-card-header>
        <div class="card-body">
          <textarea
            [(ngModel)]="tarea.descripcion_t"
            class="form-control"
            id="inputDescripcion"
            rows="3"
            name="descripcion"
          ></textarea>
        </div>
      </div>
      <br />
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Tarea subordinada'"></app-card-header>
        <br />
        <div class="row justify-content-between px-3">
          <div class="col-8 text-start">
            <form class="form text-start mb-1">
              <button>
                <img src="../assets/img/search.svg" alt="" />
              </button>
              <input
                class="input"
                placeholder="Buscar..."
                required=""
                type="text"
                name="filtroTarea"
                [(ngModel)]="filtroSubordinada"
              />
            </form>
          </div>

          <div class="col text-end">
            <button class="btn btn-nav a" routerLink="/crear_subordinada">
              <i><img src="../assets/img/agregar.svg" alt="" /></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuenow="20"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 75%"
            ></div>
          </div>
          <br />
          <app-bar-subtarea
            *ngFor="
              let tareasub of ListarTareaSub
                | filtroSubordinada: filtroSubordinada
            "
            [titulo]="tareasub.nombre_tarea_sub"
            [id]="tareasub.id_tarea_sub"
            (click)="ngOnInit()"
          ></app-bar-subtarea>
        </div>
      </div>
      <br />
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Responsables'"></app-card-header>
        <br />
        <div class="row justify-content-between px-3">
          <div class="col-8 text-start">
            <form class="form text-start mb-1">
              <button>
                <img src="../assets/img/search.svg" alt="" />
              </button>
              <input
                class="input"
                placeholder="Buscar..."
                required=""
                type="text"
                name="filtroTarea"
                [(ngModel)]="filtroUsuario"
              />
            </form>
          </div>

          <div class="col text-end">
            <!-- Button trigger modal -->
            <button
              class="btn btn-nav a"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i><img src="../assets/img/agregar.svg" alt="" /></i>
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header text-white bg">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Agregar usuario
                    </h5>
                    <button
                      type="button"
                      class="btn-close btn-close-white"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body text-white bg">
                    <form class="form text-start mb-1">
                      <button>
                        <img src="../assets/img/search.svg" alt="" />
                      </button>
                      <input
                        class="input"
                        placeholder="Buscar usuario"
                        required=""
                        type="text"
                        name="filtroTarea"
                        [(ngModel)]="filtroUsuario"
                      />
                    </form>
                    <div class="card-body">
                      <app-bar-usuario
                        *ngFor="
                          let usuario of ListarUsuario
                            | filtroUsuario: filtroUsuario
                        "
                        [nombre]="usuario.nombre_usuario"
                        [id]="usuario.id_usuario"
                      ></app-bar-usuario>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">
            <app-bar-responsable
              *ngFor="
                let usuario of ListarUsuario | filtroUsuario: filtroUsuario
              "
              [nombre]="usuario.nombre_usuario"
              [id]="usuario.id_usuario"
            ></app-bar-responsable>
          </div>
        </div>
        <br />
      </div>
      <br />
    </div>
    <div class="col-xs-12 col-sm-11 col-md-3 col-lf-2 col-xl-2 col-xxl-1">
      <div class="container col-lg-12 col-6">
        <div class="row text-center">
          <button type="button" class="btn btn-primary">Terminar</button>
        </div>
        <br />
        <div class="row text-center">
          <button type="button" class="btn btn-primary">Alertar</button>
        </div>
        <br />
        <div class="row text-center">
          <button
            type="button"
            routerLink="/reportar_tarea"
            class="btn btn-primary"
          >
            Reportar
          </button>
        </div>
        <br />
        <div class="row text-center">
          <button (click)="modificar()" type="button" class="btn btn-primary">
            Guardar
          </button>
        </div>
        <br />
        <div class="row text-center">
          <button (click)="eliminar()" type="button" class="btn btn-danger">
            Eliminar
          </button>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
