<app-nav-cargo></app-nav-cargo>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-11 col-md-7 col-lf-4 col-xl-4 col-xxl-5">
      <div class="card text-white bg shadow-lg border-0 rounded-lg">
        <app-card-header [titulo]="'Crear cargo'"></app-card-header>
        <div class="card-body">
          <form [formGroup]="Cargo_Grupo" (ngSubmit)="crear_cargo()">
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="text"
                formControlName="nombre_c"
                placeholder="nombre_c"
                [class.is-invalid]="
                  Cargo_Grupo.get('nombre_c')?.touched &&
                  Cargo_Grupo.get('nombre_c')?.invalid
                "
              />
              <label for="inputNombre">Nombre</label>
            </div>

            <h6 class="text-center">Rol</h6>
            <select class="form-select mb-3"                
              placeholder="id_r"
              formControlName="id_r"
              [class.is-invalid]="
              Cargo_Grupo.get('id_r')?.touched &&
              Cargo_Grupo.get('id_r')?.invalid">
              <option *ngFor="let rol of ListarRol" [value]="rol.id_r" >{{rol.nombre_r}}</option>
            </select>

            <h6 class="text-center">Unidad interna</h6>
            <select class="form-select mb-3"               
              placeholder="id_ui"
              formControlName="id_ui"
              [class.is-invalid]="
              Cargo_Grupo.get('id_ui')?.touched &&
              Cargo_Grupo.get('id_ui')?.invalid">
              <option *ngFor="let unidad of ListarUnidad" [value]="unidad.id_ui" >{{unidad.nombre_ui}}</option>
            </select>

            <h6 class="text-center">Supervisor</h6>
            <select class="form-select mb-3"               
              placeholder="supervisor_c"
              formControlName="supervisor_c"
              [class.is-invalid]="
              Cargo_Grupo.get('supervisor_c')?.touched &&
              Cargo_Grupo.get('jsupervisor_c')?.invalid">
              <option *ngFor="let cargo of ListarCargo" [value]="cargo.supervisor_c" >{{cargo.nombre_c}}</option>
            </select>

          </form>
        </div>
      </div>
      <br />
    </div>

    <div class="col-xs-12 col-sm-11 col-md-3 col-lf-2 col-xl-2 col-xxl-1">
      <form [formGroup]="Cargo_Grupo" (ngSubmit)="crear_cargo()">
        <button
          type="submit"
          class="btn btn-primary col-12 p-3"
          [disabled]="Cargo_Grupo.invalid">
          Crear
        </button>
      </form>
      <br />
    </div>
  </div>
</div>
