<div class="container-fluid">
    <div class="row justify-content-center">
        
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center text-dark font-weight-light my-1">Crear flujo de tareas</h3>
                </div>
                <div class="card-body">

                    <form [formGroup]="Tarea_formulario" (ngSubmit)="crear_tarea()">

                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputNombre" type="text" formControlName="nombre"
                            placeholder="name@example.com" 
                            [class.is-invalid]="Tarea_formulario.get('nombre')?.touched && Tarea_formulario.get('nombre')?.invalid"/>
                            <label for="inputEmail">Nombre</label>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail">Descripción</label>
                            <textarea class="form-control" id="inputEmail" rows="3" formControlName="descripcion"></textarea>
                        </div>
                        
                        <div class="card-header mt-3">
                            <h3 class="text-center text-dark font-weight-light my-1">Tarea subordinada</h3>
                        </div>
    
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Roles asignados (Cantidad de roles)</label>
                                <select multiple class="form-control" id="exampleFormControlSelect2">
                                    <option>Nombre de la tarea</option>
                                    <option>Nombre de la tarea</option>
                                </select>
                            </div>
                        </div>

                    </form>

                </div>
            </div>    
        </div>

        <div class="col-lg-1 border-0 rounded-lg">
            <div class="form-floating mt-5">
                <form [formGroup]="Tarea_formulario" (ngSubmit)="crear_tarea()">
                    <button type="submit" class="btn btn-primary col-12 p-3" [disabled]="Tarea_formulario.invalid">Crear</button>
                </form>
            </div>
        </div>
</div>